@import "tailwindcss";

/* Custom utilities */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Override default width of Place List UI Kit elements */
/* Make overlay and list-container full width */
gmp-map .overlay {
  width: 100% !important;
  left: 0 !important;
}
gmp-map .overlay .list-container,
gmp-place-list {
  width: 100% !important;
  max-width: none !important;
}